.title {
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  color: #fff;
}
.daily-item {
  width: 350px;
  height: 40px;
  margin: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 15px 25px;
  background-color: rgba(189, 219, 245, 0.405); /* Semi-transparent white */
  backdrop-filter: blur(5px); /* Adds the blur effect */
}

.dailyForecast {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.icon-small {
  width: 40px;
}
.day {
  color: #fff;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}
.description {
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
  color: #fff;
  font-weight: 600;
}
.min-max {
  color: #fff;
  font-weight: 600;
}
.daily-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  row-gap: 0;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
  backdrop-filter: blur(5px); /* Adds the blur effect */
}
.daily-details-grid-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}
.daily-details-grid-item label:first-child {
  color: #fff;
  font-weight: 600;
}
.daily-details-grid-item label:last-child {
  color: #fff;
  font-weight: 600;
}

.forecastBlock {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: auto;
  margin-top: 10px;
}


